body{
  margin-left: 40px;
  margin-right: 40px;
}
.logo img{
  cursor: pointer;
}
.logo{
  justify-content: center;
  display: inline;
  align-items: center;
  margin-top: 10px;
}
.icon, 
.logo-text{
  align-items: center;
  justify-content: center;
  display: flex;
}
.logo-text{
  margin-top: -20px;
}
.logo-text h1 a{
  text-decoration: none;
  color:#707070; 
  font-size: 16px;
  text-transform: uppercase;
  font-family: serif;
  
}
.nav{
  width: 100%;
  background: #B10D0D;
  height: 50px;
  margin-right: 8px;
  
}
ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-top: 1px;
  font-size: 14px;
  font-family:sans-serif ;
  
}
ul li a{
  text-decoration: none;
  color: white; 
  transition: 0.3s ease-in-out;
  padding: 15px;
  padding-left: 30px;
}
ul li a:hover{
  background: #17165E;
}

.slide-content{
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
.sl_container{
  display: flex;
  max-height:330px;
}
.right-nav{
background-color: lightgray;
padding: 20px 15px;
}
.right-nav h1 a{
 color: #031D55FC;
 text-transform: capitalize;
 text-decoration: none;
}


.cate_container{
  padding-top: 40px;
}
.cate_wrapper {
  justify-self: center;
  width: 100%;
  display: flex;
  
}
.cate_wrapper .middle-cate{
  max-width: 600px;
  max-height: 700px;
  margin-left: 18px;
}
.cate_wrapper .right-cate{
  width: 300px;
  max-height: 700px;
  margin-right: 40px;
}
  
#new_head{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  padding-top: -25px;
}

.middle-cate{
  border-left: 1px solid rgb(224, 229, 239);
    padding-left: 40px;
    border-right: 1px solid rgb(224, 229, 239);
    padding-right: 60px;

}
#heading_break{
  height: 6px;
  width: 80px;
  padding-top: 0;
  float: left;
}


#time{
  margin-bottom: 2px;
  color: rgb(72, 69, 69);
  opacity: 0.8;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}
.news-1,.news-2,.news-3,.news-4,.news-5,.news-6{
  font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.news-1 a,
.news-2 a,
.news-3 a,
.news-4 a,
.news-5 a,
.news-6 a
{
  color:#484545 ;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

}
.doc-1 a, .doc-2 a,.doc-3 a,.doc-4 a,.doc-5 a{
  text-decoration: none;
  color: rgb(77, 77, 77),

}
#heading{
  font-size: 20px;
  color: rgb(69, 69, 69);
  letter-spacing: -0.35px;
  line-height: 1.35;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.right-cate{
  position: relative;
  min-height: 20px;
  padding-right: 45px;
  margin-left: 20px;
}
 .doc-1  a,.doc-2  a,.doc-3 a,.doc-4 a,.doc-5 a{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}
.left-cate img{
  display: block;
    max-width: 100%;
    height: auto;
}

.img_title{
  background-color: rgb(242, 242, 242);
    padding: 6px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.img_title .name{
  font-weight: bold;
}
.footer-menu-container{
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: rgb(5, 30, 59);
    color: rgb(255, 255, 255);
    padding: 50px 0px;
    margin-top: 150px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

div.footer-menu-container{
  display: flex;
  justify-content: center;
}
nav.ft-colom1{
 margin-top: 50px;
 margin-left: -550px;
 
}
div.ft-menu-colom{
  margin-top: 50px;
  justify-content: center;
}

nav.sec-3 ol{
  align-items: flex-end;
  padding-left: 100px;

}
div.ft-logo img{
  width: 50px;
  justify-content: center;
  margin-top: -180px;
  margin-bottom: 50px;
  margin-right: 50px;
  cursor: pointer;
}
div.column{
  margin-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.column-row{
  padding-left: 50px;
}
div.column-row a{
  transform: uppercase;
  text-decoration: none;
  margin: 20px;
  text-transform: uppercase;
  font-size: large;
  text-align: center;
  display: inline-block;
  color: #B10D0D;
}
div.column img{
  width: 400px;
  border-radius: 20px;
}
nav.sec-2, nav.sec-3{
  display: flex;
  justify-content: center;

}
nav.sec-2{
  margin-left: 50px;
}
nav.sec-3{
  margin-left: 150%;
  margin-top: -50%;
}
nav.sec-2 ol, nav.sec-3 ol{
  justify-content: space-between;
}
nav.sec-2 ol li a, nav.sec-3 ol li a{
  text-decoration: none;
  color: aliceblue;
}
nav.sec-2 ol li a :hover, nav.sec-3 ol li a :hover{
  color: #B10D0D;
}